<launch>

<arg name="worldname" default="obj_table" />

<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
</include>

<include file="$(find rosie_motion)/launch/simple_pickplace.launch" >
<arg name="worldfile" value="$(arg worldname).sdf" />
</include>

<include file="$(find fetch_moveit_config)/launch/move_group.launch" >
</include>

<node name="rosie_motion_server" pkg="rosie_motion" type="motionserver" output="screen">
<param name="human_check" type="bool" value="false"/>
<param name="rosie_is_sim" type="bool" value="true"/>
</node>

</launch>